extends layout.pug

block content
  img(src=image)
  if questions.length
    each question in questions
      div=question.title
        p= question.description
  else
    p No questions have been posted yet.