extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id='header-container')
    p#app_goal Where you can ask questions within a category and get answers. Or you can answer others' questions.
  div(id='main-container')
        div(class='card-body')
          a(href='/questions' class='category-link') Questions
          div(class='card question-card')
        each cat in categories
          div(class='card-body')
            a(href=`/categories/${encodeURIComponent(cat.name.toLowerCase())}` class='category-link')= cat.name
            div(class=`card ${cat.name}`)
  div(id='footer_container')
    div(id='footer__copyRight' style="color:white") © #{new Date().getFullYear()} Developed By:
      div(id='footer__content')
        <span style='padding-left:10px'>James</span><span>Eric</span><span>Casey</span><span style='padding-right:15px'>David</span>
      div(id='footer__icons') 
        <span id='james'>
        <a href='https://www.linkedin.com/in/jamesjtuttle/' target='_blank'><i class="fa fa-linkedin-square" style="font-size:32px"></i></a>
        <a href='https://github.com/jjtuttle' target='_blank'><i class="fa fa-github-square" style="font-size:32px"></i></a>
        </span>
        <span id='eric'>
        <a href='https://www.linkedin.com/in/erichuang-97/' target='_blank'><i class="fa fa-linkedin-square" style="font-size:32px"></i></a>
        <a href='https://github.com/iRiceCrispy' target='_blank'><i class="fa fa-github-square" style="font-size:32px"></i></a>
        </span>
        <span id='casey'>
        <a href='https://www.linkedin.com/in/casey-spears-4a6042180/' target='_blank'><i class="fa fa-linkedin-square" style="font-size:32px"></i></a>
        <a href='https://github.com/powerwild' target='_blank'><i class="fa fa-github-square" style="font-size:32px"></i></a>
        </span>
        <span id='david'>
        <a href='https://www.linkedin.com/in/david-anh-pham/' target='_blank'><i class="fa fa-linkedin-square" style="font-size:32px"></i></a>
        <a href='https://github.com/DavidPhamThinkful' target='_blank'><i class="fa fa-github-square" style="font-size:32px"></i></a>




