extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id='header-container')
    p#app_goal Where you can ask questions within a category and get answers. Or you can answer others' questions.
  div(id='main-container')
        div(class='card-body')
          a(href='/questions' class='category-link') Questions
          div(class='card question-card')
        each cat in categories
          div(class='card-body')
            a(href=`/categories/${encodeURIComponent(cat.name.toLowerCase())}` class='category-link')= cat.name
            div(class=`card ${cat.name}`)
