extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  p Where you can ask questions within a category and get answers. Or you can answer other's questions.
  div(id='main-container')
    each cat in categories
      div= cat.name
        a(href=`/categories/${encodeURIComponent(cat.name.toLowerCase())}`) click here
