doctype html
html
  head
      block head
        title="Life Overflow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="/javascripts/index.js" type="module" defer)

  body
    nav(id='nav')
      .app-details
        img(src='/favicon.ico' class="fas fa-hand-holding-heart" alt='icon')
        a(href='/' id='home') life overflow
      form(action='/search')
        input(type='search' name='query' placeholder='Search' class='search-bar')
        //- button(type='submit' id='search-btn') Search
      if locals.authenticated
        form(action='/logout' method='post')
          button(type='submit' class='login') Logout
      else
        ul
          li: a(href='/login' class='login') Log in
          li: a(href='/register' class='register') Sign up
        form(action='/demo' method='post')
          button(type='submit' class='login') Demo User

    h1= title

    block content
