extends layout.pug

include utils.pug

block content
  #login-page
    div#login-form
      h2#h2 Login
      form(action='/login' id='login-form-field' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        p.error #{errors.login}
        div#login-email
          +field('Email', 'email', email, 'text')
          p.error #{errors.email}
        div#login-password
          +field('Password', 'password', '', 'password').
          p.error #{errors.password}
        button(type='submit' class='submit-login-info') Login
      //- form(action='/demo' class='login-demo-user' method='post')
      //-       button(type='submit') Demo User
