extends layout

include utils

block content
    form(action='/questions/new' method='POST')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Title', 'title', question.title, 'text', 'Title')
        +field('Description', 'description', question.description, 'textarea', 'Description')
        label(for='categories') Categories
        select(name='categories')
            each category in categories
                option(value=category.id)= category.name
        button() Submit
