extends layout

block content
    if questions
        ul
            each question in questions
                label(for='question'): a(href=`/questions/${question.id}`)= question.title
                li(name='question')= question.description
