extends layout

block content
    img(src="https://www.job-hunt.org/wp-content/uploads/2021/05/Smart-Answers-to-the-21-Most-Common-Interview-Questions-in-2021-2.png.webp" style='display: block; margin-left: auto; margin-right: auto; width: 20%')
    form(action='/questions/new' method='GET')
        button Ask Question
    if questions
        .questions-div
            each question in questions
                .question-div
                    a(href=`/questions/${question.id}` class='question-title')= question.title
                    p.question-data= question.body
                    if user
                        if question.userId === user.id
                            .edit-delete-buttons
                                form(action=`/questions/${question.id}/edit` method='GET')
                                    button.edit-button Edit question
                                form(action=`/questions/${question.id}/delete` method='POST')
                                    button.delete-button Delete question
